/* The float CSS property places an element on the left or right side of its container,
allowing text and inline elements to wrap around i */

/* Float Left */
img {
    float: left;
}

/* Float Right  */
.image {
    float: right;
}
