div {
    display: inline-block;
    width: 40%;
}

p {
    font-size: 2em;
}

h1 {
    text-align: center;
    color: orangered;
}

img {
    float: left;
}

footer {
    clear: both;
    text-align: center;
    background-color: blueviolet;
}

.cat {
    background-color: aquamarine;
    float: left;
}

.dog {
    background-color: coral;
    float: right;
}
