h1 {
    font-weight: bold;
}

hr {
    border: 1px dotted black;
}

p {
    color: white;
    font-weight: bold;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.line {
    display: inline;
}

.block {
    display: block;
}
