/* Element selector */
p {
    color: red;
}

/* Class selector */
.note {
    font-size: 20px;
}

/* Id selector */
#id-selector-demo {
    color: green;
}

/* Attribute selector */
li[value="4"] {
    color: blue;
}

/* Universal selector */
* {
    text-align: center;
}