body {
    background-color: black;
}

.poster-box {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.meme-image {
    border: 5px solid white;
    width: 100%;
}

.meme-heading {
    text-transform: uppercase;
    font-size: 3rem;
}