p {
    margin: 0px;
}

.Boxes {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}

#box-1 {
    background-color: tomato;
    padding: 20px;
    border: 10px solid black;
}

#box-2 {
    background-color: sandybrown;
    border: solid black;
    border-width: 20px 10px;            
    margin-left: 258px;
}

#box-3 {
    background-color: paleturquoise;
    border: 10px solid black;
    margin-left: 40px;
}
